In [30]:
import pandas as pd

In [45]:
abcde = [['a','b','c','d','e'],['a','b','','d',''],['a','','c','','e']]
df = pd.DataFrame(abcde, columns = ['1','2','3','4','5'])

In [46]:
df

   1  2  3  4  5
0  a  b  c  d  e
1  a  b     d
2  a     c     e

In [ ]:
 def tr(lenn,column=['1','2','3','4','5']):
    tran = []
    for i in column:
        if df[i][lenn] != '':
            tran.append(df[i][lenn])
    while len(tran) < 5:
        tran.append('')
    print(tran)
    
    df.loc[lenn,column] = tran

In [48]:
great = 0
while great < len(df):
    tr(great)
    great += 1

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'd', '', '']
['a', 'c', 'e', '', '']

In [49]:
df

   1  2  3  4  5
0  a  b  c  d  e
1  a  b  d
2  a  c  e

In [54]:
column=['1','2','3','4','5']
for i in column:
    print(df[i][2])

a
c
e