In [3]:
import pandas as pd
import numpy as np

In [4]:
abcde = [[2020,0,'sos',1,0,0],[2020,1,'sos',0,2,0],[2020,0,'sos',0,0,1],[2019,0,'bs',1,0,0],[2019,1,'as',0,2,0],[2019,0,'bs',0,0,1]]
df = pd.DataFrame(abcde, columns = ['YEARS','WINNER','MOVIE','1','2','3'])
df

   YEARS  WINNER MOVIE  1  2  3
0   2020       0   sos  1  0  0
1   2020       1   sos  0  2  0
2   2020       0   sos  0  0  1
3   2019       0    bs  1  0  0
4   2019       1    as  0  2  0
5   2019       0    bs  0  0  1

In [5]:
years = 2020
get_all = {}
while years > 2018:
    Year = set()
    for i in df[df['YEARS']==years]['MOVIE']:
        Year.add(i)
    get_all[years] = Year
    years -= 1

# 得到dic

In [6]:
get_all

{2020: {'sos'}, 2019: {'as', 'bs'}}

# 1.合併該年度的電影的迴圈

#    此處使用for迴圈合併每項電影

In [86]:
get =2020
lenn = len(get_all[get])
movie = list(get_all[get])
for i in range(lenn):
    a = df['MOVIE'] == movie[i]
    b = df['YEARS'] == get
    get_movie = df[a&b]

# 2.取得DataFrame加總需要欄位之後數值

In [96]:
#這裡需要的是winner 和  所有獎項(1,2,3)
notneed_num = [0,2]
need_num = 0
get_num = []
for i in get_movie.sum():
    if need_num in notneed_num:
        need_num += 1
        continue
    else:
        get_num.append(i)
    need_num += 1
get_num

[1, 1, 2, 1]

# 3.創建dataFrame

In [9]:
#這裡需要的是winner 和  所有獎項(1,2,3)
col_need = []
col_notneed = ['Award_Title','Groups']
for i in df.columns:
    if i in col_notneed:
        continue
    else:
        col_need.append(i)
col_need

['YEARS', 'WINNER', 'MOVIE', '1', '2', '3']

In [10]:
final_df = pd.DataFrame(columns = col_need)
final_df.rename(columns={'WINNER':'Finalist', 'MOVIE':'Winner'}, inplace = True)

final_df

Empty DataFrame
Columns: [YEARS, Finalist, Winner, 1, 2, 3]
Index: []

# 4.合併1、2兩個code 即可完成該年度的SUM值

In [11]:
get = 2020
index = 0
while get > 2018:

    lenn = len(get_all[get])
    movie = list(get_all[get])
    notneed_num = [0,2]
    
    for i in range(lenn):
        a = df['MOVIE'] == movie[i]
        b = df['YEARS'] == get
        get_movie = df[a&b]
        get_num = []
        need_num = 0
        for i in get_movie.sum():
            if need_num in notneed_num:
                need_num += 1
                continue
            else:
                get_num.append(i)
            need_num += 1
        data = [get,movie[i-1]]
        data.extend(get_num)
        print(data)
        final_df.loc[index] = data
        index += 1
    get -= 1
final_df

[2020, 'sos', 1, 1, 2, 1]
[2019, 'bs', 0, 1, 0, 1]
[2019, 'as', 1, 0, 2, 0]

  YEARS Finalist Winner  1  2  3
0  2020      sos      1  1  2  1
1  2019       bs      0  1  0  1
2  2019       as      1  0  2  0